a{
    color: black;
    transition: color 0.5s ease;
    text-decoration: none;
    padding: 5px;
}

.navigate a:hover{
    color: rgb(134, 134, 134);
}

.navigate {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 40px;
    top: 0;
}