:root{
    --background-color: rgb(155, 184, 205);
    --primary-color: rgb(255, 247, 212);
    --secondary-color: rgb(238, 199, 89);
    --third-color: rgb(177, 195, 129);
    --text-color: black;
    --font-size-base: 2.5vw;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}


.navigation{
    font-size : var(--font-size-base);
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.phoneNavi{
    display: none;
}

#scrollingbar{
    position: sticky;
    top: 0;
    height: 100vh;
}

.nonfooter{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 90%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    min-height: 100vh;
    background-color: var(--secondary-color);
}

.sidebar #profile{
    border-radius: 50%;
    width: 300px;
    padding: 20px;
    transition: 1s ease-in-out;
}

img#profile:hover{
    transform: translateY(-5px);
}

div[id^="basicinfo-"]{
    border-bottom: 1px solid var(--third-color);
    width: fit-content;
    padding: 0 15px 0 15px;
}

.footer, .navigation, .phoneNavi{
    background-color: var(--primary-color);
}

.footer{
    height: auto;
    /* ensures the root is at the botom*/
    margin-top: auto; 
}

#root{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    /* makes it so it can take the whole webpage and be scrollable, no more white overflow */
    min-height: 100vh;
    width: 100%; /* Ensure full width */
}

#movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#movies > div{
    background-color: aliceblue;
}

@media screen and (max-width:800px){
    .main{
        margin-top: 50px;
    }
    .nonfooter{
        display: flex;
        flex-direction: column-reverse;
    }

    .sidebar{
        background-color: var(--secondary-color);
        width: auto;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }

    .navigation{
        display: none;
    }

    .phoneNavi {
        position: sticky;
        top: 0;
        display: flex;
        max-height: fit-content;
    }
    .phoneNavi > div{
        justify-content: space-around;
        width: 100vw;
    }
}