:root{
    --background-color: rgb(155, 184, 205);
    --primary-color: rgb(255, 247, 212);
    --secondary-color: rgb(238, 199, 89);
    --third-color: rgb(177, 195, 129);
    --text-color: black;
    --font-size-base: 2.5vw;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}


.navigation{
    font-size : var(--font-size-base);
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.phoneNavi{
    display: none;
}

#scrollingbar{
    position: sticky;
    top: 0;
    height: 100vh;
}

.nonfooter{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 90%;
}

.sidebar{
    background-color: var(--secondary-color);
    width: fit-content;
    min-height: 100vh;
}

.sidebar #profile{
    border-radius: 50%;
    width: 35vh;
    margin: 2vh;
    transition: 1s ease-in-out;
}

img#profile:hover{
    transform: translateY(-5px);
}

div[id^="basicinfo-"]{
    border-bottom: 1px solid red;
}

.footer, .navigation, .phoneNavi{
    background-color: var(--primary-color);
}

.footer{
    height: auto;
    /* ensures the root is at the botom*/
    margin-top: auto; 
}

#root{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    /* makes it so it can take the whole webpage and be scrollable, no more white overflow */
    min-height: 100vh;
}

#movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width:600px){
    .sidebar{
        display: none;
    }

    .nonfooter{
        display: flex;
        flex-direction: column;
    }

    .navigation{
        display: none;
    }

    .phoneNavi{
        position: sticky;
        top: 0;
        display: flex;
        max-height: fit-content;
    }
}