:root {
    --background-color: rgb(155, 184, 205);
    --primary-color: rgb(255, 247, 212);
    --secondary-color: rgb(238, 199, 89);
    --third-color: rgb(177, 195, 129);
    --text-color: black;
    --nav-bar-width : 3.5%;
    --font-size-base: 2.5vw;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    flex-grow: 1;
    display: flex;
    margin-right: 0;
    /* width: calc(100% - var(--nav-bar-width) + 10px); */
}

.content{
    margin: 1.5rem;
}

.navigation, .foots {
    background-color: var(--primary-color);
}

.basic-info {
    background-color: var(--secondary-color);
    left: 0;
}

.navigation {
    position: fixed;
    right: 0;
    top: 0;

    height: 100%;
    width: var(--nav-bar-width);
    padding: 0 5px;

    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size : var(--font-size-base);
}